<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}"><h2><b>Crypto Advisor</b></h2></a></li>
            <li><a th:href="@{/stats}">HOME</a></li>
            <li><a th:href="@{/about}">ABOUT</a></li>
            <li><a th:href="@{/contacts}">CONTACTS</a></li>
        </ul>
    </nav>
</header>

<table class="widget-table-1">
    <thead>
    <tr>
        <th class="widget-td" colspan="3" style="text-align:center"> <b>TRENDING</b> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${trendingCryptos.isEmpty}">
        <td colspan="3"> No cryptos available </td>
    </tr>
    <tr th:each="cryptoStats : ${trendingCryptos}">
        <td class="widget-td" style="text-align:left"><span th:text="${cryptoStats.rank}"> Index </span></td>
        <td class="widget-td" style="text-align:left"><span th:text="${cryptoStats.name + ' (' + cryptoStats.symbol} + ')'"> Name </span></td>
        <td class="widget-td" style="text-align:right"><span th:text="${cryptoStats.percentChangeWeek + '% / 7d'}"> 7d % </span></td>
    </tr>
    </tbody>
</table>

<table class="widget-table-2">
    <thead>
    <tr>
        <th class="widget-td" colspan="3" style="text-align:center"> <b>STABLE</b> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${stableCryptos.isEmpty}">
        <td colspan="3"> No cryptos available </td>
    </tr>
    <tr th:each="cryptoStats : ${stableCryptos}">
        <td class="widget-td" style="text-align:left"><span th:text="${cryptoStats.rank}"> Index </span></td>
        <td class="widget-td" style="text-align:left"><span th:text="${cryptoStats.name + ' (' + cryptoStats.symbol} + ')'"> Name </span></td>
        <td class="widget-td" style="text-align:right"><span th:text="${cryptoStats.percentChangeThreeMonths + '% / 90d'}"> 90d % </span></td>
    </tr>
    </tbody>
</table>

<table class="widget-table-3">
    <thead>
    <tr>
        <th class="widget-td" colspan="3" style="text-align:center"> <b>DEVIATING</b> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${deviatingCryptos.isEmpty}">
        <td colspan="3"> No cryptos available </td>
    </tr>
    <tr th:each="cryptoStats : ${deviatingCryptos}">
        <td class="widget-td" style="text-align:left"><span th:text="${cryptoStats.rank}"> Index </span></td>
        <td class="widget-td" style="text-align:left"><span th:text="${cryptoStats.name + ' (' + cryptoStats.symbol} + ')'"> Name </span></td>
        <td class="widget-td" style="text-align:right"><span th:text="${cryptoStats.percentChangeWeek + '% / 7d'}"> 7d % </span></td>
    </tr>
    </tbody>
</table>

<table class="styled-table">
    <thead>
    <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> Symbol </th>
        <th> Price </th>
        <th> 1h % </th>
        <th> 24h % </th>
        <th> 7d % </th>
        <th> 30d % </th>
        <th> 60d % </th>
        <th> Market Cap </th>
        <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cryptoStatsSet.isEmpty}">
        <td colspan="11"> No cryptos available </td>
    </tr>
    <tr th:each="cryptoStats : ${cryptoStatsSet}">
        <td><span th:text="${cryptoStats.rank}"> Rank </span></td>
        <td><span th:text="${cryptoStats.name}"> Name </span></td>
        <td><span th:text="${cryptoStats.symbol}"> Symbol </span></td>
        <td><span th:text="${cryptoStats.price}"> Price </span></td>
        <td><span th:text="${cryptoStats.percentChangeHour}"> 1h % </span></td>
        <td><span th:text="${cryptoStats.percentChangeDay}"> 24h % </span></td>
        <td><span th:text="${cryptoStats.percentChangeWeek}"> 7d % </span></td>
        <td><span th:text="${cryptoStats.percentChangeMonth}"> 30d % </span></td>
        <td><span th:text="${cryptoStats.percentChangeTwoMonths}"> 60d % </span></td>
        <td><span th:text="${cryptoStats.marketCap}"> Market Cap </span></td>
        <td><a th:href="@{/stats/{symbol}(symbol=${cryptoStats.symbol})}"}> View </a></td>
    </tr>
    </tbody>
</table>

</body>
</html>