<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<table class="styled-table">
    <thead>
    <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> Symbol </th>
        <th> Price </th>
        <th> 1h % </th>
        <th> 24h % </th>
        <th> 7d % </th>
        <th> 30d % </th>
        <th> 60d % </th>
        <th> 90d % </th>
        <th> Market Cap </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cryptoStatsSet.isEmpty}">
        <td colspan="2"> No cryptos available </td>
    </tr>
    <tr th:each="cryptoStats : ${cryptoStatsSet}">
        <td><span th:text="${cryptoStats.rank}"> Rank </span></td>
        <td><span th:text="${cryptoStats.name}"> Name </span></td>
        <td><span th:text="${cryptoStats.symbol}"> Symbol </span></td>
        <td><span th:text="${cryptoStats.price}"> Price </span></td>
        <td><span th:text="${cryptoStats.percentChangeHour}"> 1h % </span></td>
        <td><span th:text="${cryptoStats.percentChangeDay}"> 24h % </span></td>
        <td><span th:text="${cryptoStats.percentChangeWeek}"> 7d % </span></td>
        <td><span th:text="${cryptoStats.percentChangeMonth}"> 30d % </span></td>
        <td><span th:text="${cryptoStats.percentChangeTwoMonths}"> 60d % </span></td>
        <td><span th:text="${cryptoStats.percentChangeThreeMonths}"> 90d % </span></td>
        <td><span th:text="${cryptoStats.marketCap}"> Market Cap </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>