<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}"><h2><b>Crypto Advisor</b></h2></a></li>
            <li><a th:href="@{/stats}">HOME</a></li>
            <li><a th:href="@{/about}">ABOUT</a></li>
            <li><a th:href="@{/contacts}">CONTACTS</a></li>
        </ul>
    </nav>
</header>
    <h2>Contact us:</h2>
    <h4>Telegram: @pasikkk1</h4>
    <h4>Email: vlad.pasichniuk.02@gmail.com</h4>
</body>
</html>